# Ignore Python venv and cache
venv/
__pycache__/
*.pyc

# Ignore VS Code config folder
.vscode/

# Ignore HTML cache or specific HTML files
cache/
*.cache
*.bak
*.tmp
debug.html
Abbottabad_map.html
Haripur_final_map.html
Islamabad_map.html
Haripur_map.html
Quetta_map.html
venv/
*.pyc
__pycache__/
